body{
    font-family: Arial, sans-serif;
    background-color: rgb(247, 247, 248);
}
form{
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    max-width: 300px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}
h2{
    color: rgb(1, 1, 255);
}
#mynum{
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 15px;
}
#mysubmit{
    color: white;
    background-color: #007bff;
    margin: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}
label{
    font-weight: bold;
    line-height: 5px;
    
}
#mysubmit:hover{
    background-color: rgb(1, 1, 255);
}
#result{
    font-size: 19px;
    font-weight: bold;
    
}