*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: #f9fafc;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
}
.navbar nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar a{
    text-decoration: none;
    color: #333;
}
.logo{
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
}
.button{
    background-color: rgb(1, 1, 253);
    color: white;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 18px;

}
.botton1{
    background: transparent;
    color: #007bff;
    border: 2px solid #007bff;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
    gap: 40px;
}
.head-text h1{
    font-size: 48px;
    margin-bottom: 15px ;
}
.head-text p{
    color: #555;
    margin-bottom: 20px;
}
.head-img img{
    max-width: 100%;
}
.middle{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: white;

}
.help{
    text-align: center;
}
.portfolio{
    text-align: center;
    padding: 50px;
}
.projects{
    display: flex;
    justify-content: center;
    grid-area: 20px;
}
.projects img {
    border-radius: 10px;
}
.contact{
    background: white;
    text-align: center;
    padding: 60px 20px;
}
.c-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media(max-width: 768px){
    .head{
        flex-direction: column;
        text-align: center;
    }
    .middle{
        flex-direction: column;
        gap: 20px;
    }
   .projects{
    flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        gap: 15px;
    }
}